In [1]:
# Read the dataset
cars_data = read.csv('Toyota_SimpleReg.csv')

In [3]:
# Display the column names
colnames(cars_data)

[1] "Id"        "Model"     "Price"     "Age_06_15"

In [4]:
# Structure of the dataset
str(cars_data)

'data.frame':	1436 obs. of  4 variables:
 $ Id       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Model    : Factor w/ 372 levels "Â TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors",..: 332 332 67 332 331 331 64 326 62 59 ...
 $ Price    : int  13500 13750 13950 14950 13750 12950 16900 18600 21500 12950 ...
 $ Age_06_15: int  57 57 58 60 64 66 61 64 61 57 ...

In [7]:
# number of rows
nrow(cars_data)

[1] 1436

In [8]:
# number of columns
ncol(cars_data)

[1] 4

In [9]:
# Summary of the data
summary(cars_data)

       Id                                                         Model
 Min.   :   1.0   TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-Doors: 107
 1st Qu.: 361.8   TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-Doors:  83
 Median : 721.5   TOYOTA Corolla 1.6 16V LIFTB LINEA LUNA 4/5-Doors  :  79
 Mean   : 721.6   TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA 4/5-Doors :  70
 3rd Qu.:1081.2   TOYOTA Corolla 1.6 16V SEDAN LINEA TERRA 4/5-Doors :  43
 Max.   :1442.0   TOYOTA Corolla 1.4 16V VVT I HATCHB TERRA 2/3-Doors:  42
                  (Other)                                            :1012
     Price         Age_06_15
 Min.   : 4350   Min.   : 35.00
 1st Qu.: 8450   1st Qu.: 78.00
 Median : 9900   Median : 95.00
 Mean   :10731   Mean   : 89.95
 3rd Qu.:11950   3rd Qu.:104.00
 Max.   :32500   Max.   :114.00